<div class="text-center">

        <img class="rounded img-fluid">
        <% if @user.image? %>
            <%= image_tag @user.image.url %>
          <% else %>
            <%= image_tag("/assets/icon/no-image.png") %>
          <% end %>
        <h3 class="text-center"><%= current_user.name %></h3>
      </div>
      
      <div class="section1 text-center">
        <%= render 'relationships/follow_button', user: @user %>
        <button type="button" class="btn btn-outline-dark"><%= link_to 'following', followings_user_path %></button>
        <button type="button" class="btn btn-outline-dark"><%= link_to 'following', followings_user_path %></button>
      </div>
    </div>
</div>
<%= render 'posts/posts', posts: current_user.posts %>
