

<div class="text-center">
  <h1>新規投稿</h1><br><br>
  </div>
  
  <div class="row">
    <div class="col-6 offset-sm-3">
      
      <%= form_with(model: @post, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.file_field :image %>
      </div>
  
    <div class="form-group">
        <%= f.label :tag_list, "タグの入力" %>
        <%= text_field_tag 'post[tag_list]', @post.tag_list.join(','), class: "form-control" %>
      </div>
      
      <div class="form-group">
          <%= f.label :url, "お店orレシピのurl" %>
          <%= f.text_field :url, class: "form-control" %>
      
    </div>

 

    <%= f.submit '投稿', class: 'btn btn-primary btn-inline-block' %>
    <% end %>
  </div>
</div>
  




 
  
